<header>
  <h1>Header</h1>
  <img src="/public/img/logo.png" />
</header>
<div id="menu">
  <div class="menu1" onmouseover="menu(1, 0)" onmouseout="menu(0, 0)">
    <a class="menutext">text</a>
    <a class="menu2">2</a>
    <a class="menu2">3</a>
    <a class="menu2">4</a>
    <a class="menu2">5</a>
    <a class="menu2">6</a>
  </div>
  <div class="menu1" onmouseover="menu(1, 5)" onmouseout="menu(0, 5)">
    <a class="menutext">text</a>
    <a class="menu2">2</a>
    <a class="menu2">3</a>
    <a class="menu2">4</a>
    <a class="menu2">5</a>
    <a class="menu2">6</a>
  </div>
  <div class="menu1" onmouseover="menu(1, 10)" onmouseout="menu(0, 10)">
    <a class="menutext">text</a>
    <a class="menu2">2</a>
    <a class="menu2">3</a>
    <a class="menu2">4</a>
    <a class="menu2">5</a>
    <a class="menu2">6</a>
  </div>
  <div class="menu1" onmouseover="menu(1, 15)" onmouseout="menu(0, 15)">
    <a class="menutext">text</a>
    <a class="menu2">2</a>
    <a class="menu2">3</a>
    <a class="menu2">4</a>
    <a class="menu2">5</a>
    <a class="menu2">6</a>
  </div>
  <div class="menu1" onmouseover="menu(1, 20)" onmouseout="menu(0, 20)">
    <a class="menutext">text</a>
    <a class="menu2">2</a>
    <a class="menu2">3</a>
    <a class="menu2">4</a>
    <a class="menu2">5</a>
    <a class="menu2">6</a>
  </div>
</div>
