<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Наш класс</title>
    <link rel="stylesheet" media="all" href="/public/css/index.css" />
    <link rel="stylesheet" media="(max-width: 1168)" href="/public/css/1168.css">
  </head>
  <body>
    <header>
      <div id="logo">Наш дружный класс</div>
      <div id="nav">
          <a href=""><div class="nav">На главную</div></a>
          <a href=""><div class="nav">Домашния задания</div></a>
          <a href=""><div class="nav">Фотоотчёт</div></a>
          <a href=""><div class="nav">Экскурсии</div></a>
          <a href=""><div class="nav">Школьные мироприятия</div></a>
      </div>
    </header>
    <br>
    <div id="wrapper">
wd
    </div>
<script>
  // It is for better @media
  console.log(window.innerWidth);
</script>
  </body>
</html>
