<div id="header">
  <div id=sub-header>
    <div id="logo" style="margin-left: 35%">Just Dance</div>
  </div>
  <nav class="dws-menu">
    <a href="#"><div class="fa fa-1"><div>dans 1</div></div></a>
    <a href="#"><div class="fa fa-2"><div>dans 2</div></div></a>
    <a href="#"><div class="fa fa-3"><div>dans 3</div></div></a>
    <a href="#"><div class="fa fa-4"><div>dans 4</div></div></a>
    <a href="#"><div class="fa fa-5"><div>dans 5</div></div></a>
  </nav>
</div>
