<!DOCTYPE html>
<html lang="ro">
<head>

  <!-- Meta tags -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="byte, test, test2, mySite" />
  <meta name="description" content="Здесь что-то показано (на пример текст)." />

  <title>Just Danse</title>
  <!--links-->
  <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
  <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
</head>
<body>
