<header>JustDance</header>
<nav>
  <a href="/">О фирмеб доукменты</a>
  <a href="/foto">Контактные данные</a>
  <a href="/excursions">Направлени деятельности, виды танцев</a>
  <a href="/shcool">Услуги</a>
  <a href="#">Лента Новостей и запрос</a>
</nav>
