<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Маленький Байт</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <div id = "header">Это новости c ID - <%=newsID %> </div>
  </body>
</html>
